{% extends "admin/index.html" %}

{% block content %}
    <div id="content-main">
        <div class="module">
            <h2>{% trans 'Welcome to Django Admin' %}</h2>
            <!-- Include Plotly library -->
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

            <!-- Container for the Plotly graph -->
            <div id="plotly-graph"></div>

            <script>
                function generatePlot() {
                    var data = [{
                        x: [1, 2, 3, 4, 5],
                        y: [10, 15, 13, 17, 10],
                        type: 'scatter'
                    }];
                    Plotly.newPlot('plotly-graph', data);
                }

                // Call the generatePlot function to generate the graph
                generatePlot();
            </script>
        </div>
    </div>
{% endblock %}
