<!-- checkout.html -->

<form id="payment-form" method="post" action="{% url 'charge' %}">
  {% csrf_token %}
  <input type="text" name="card_number" placeholder="Card Number">
  <input type="text" name="exp_month" placeholder="Expiry Month">
  <input type="text" name="exp_year" placeholder="Expiry Year">
  <input type="text" name="cvc" placeholder="CVC">
  <button type="submit" value="Pay">Button</button>>
</form>

<script src="https://js.stripe.com/v3/"></script>
<script>
  var stripe = Stripe('your_public_stripe_key');
  var elements = stripe.elements();
  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function(event) {
    event.preventDefault();

    stripe.createToken(card).then(function(result) {
      if (result.error) {
        // Inform the user if there was an error
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        // Send the token to your server
        stripeTokenHandler(result.token);
      }
    });
  });

  function stripeTokenHandler(token) {
    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);

    form.submit();
  }
</script>
