<!DOCTYPE html>
<html>
<head>
    <title>3D Secure Checkout</title>
</head>
<body>
    <div id="result"></div>
    <div id="paymentForm"></div>
    <form id="checkoutForm" method="post">
        {% csrf_token %}
        <button type="button" id="checkoutButton">OK</button>
    </form>
    <script src="https://secure.networkmerchants.com/js/v1/Gateway.js"></script>
    <script>
            function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }

        const csrftoken = getCookie('csrftoken');
        const gateway = window.Gateway.create('checkout_public_4xa72wwg38MQUH5be88gHE24nFBZern4');
        const threeDS = gateway.get3DSecure();
        const options = {
            cardNumber: "4420571021319037",
            cardExpMonth: "03",
            cardExpYear: "2027",
            currency: 'USD',
            amount: '10.00',
            email: 'none@example.com',
            phone: '8008675309',
            city: 'New York',
            state: 'NY',
            address1: '123 First St.',
            country: 'US',
            firstName: 'Jane',
            lastName: 'Doe',
            postalCode: '60001'
        };
        const paymentForm = document.getElementById('paymentForm');
        const threeDSecureInterface = threeDS.createUI(options);

        // Start the 3D Secure interface within the paymentForm div
        if (paymentForm) {
            threeDSecureInterface.start('#paymentForm'); // Pass the ID as a string
        } else {
            console.error('Element with ID "paymentForm" not found');
        }
        console.log("threeDSecureInterface", threeDSecureInterface);

        // Listen for the 'challenge' event and log a message
        threeDSecureInterface.on('challenge', function (e) {
            console.log('Challenged');
        });

        threeDSecureInterface.on('complete', function (e) {
            document.getElementById('result').innerText = JSON.stringify(e);
            fetch('test', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                    ...options,
                    cavv: e.cavv,
                    xid: e.xid,
                    eci: e.eci,
                    cardHolderAuth: e.cardHolderAuth,
                    threeDsVersion: e.threeDsVersion,
                    directoryServerId: e.directoryServerId,
                    cardHolderInfo: e.cardHolderInfo,
                })
            }).then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            }).then(data => {
                console.log(data);
            }).catch(error => {
                console.error('Error during fetch:', error);
            });
        });

        threeDSecureInterface.on('failure', function (e) {
            console.log('failure');
            console.log(e);
        });

        gateway.on('error', function (e) {
            console.error(e);
        });
    </script>
</body>
</html>
