{% extends "admin/base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Core</title>
    <link rel="stylesheet" href="{% static 'admin_custom.css' %}">
</head>

<body style="padding: 0px !important;">
    <div class="main">
        <div class="img-box"></div>
        <div class="secondary">
            <p class="heading">Make a Payment</p>

            <hr class="line" style="margin-top: 0;" />

            <div class="payment-main">
                <form class="form">
                    <div class="input">
                        <label>First Name</label>
                        <input />
                    </div>
                    <div class="input">
                        <label>Last Name</label>
                        <input />
                    </div>
                    <div class="input">
                        <label>Email</label>
                        <input />
                    </div>
                    <div class="input">
                        <label>Phone Number</label>
                        <input />
                    </div>
                    <div class="input">
                        <label>Address</label>
                        <input />
                    </div>
                    <div class="input">
                        <label>Country</label>
                        <input />
                    </div>
                    <div class="input">
                        <label>State</label>
                        <input />
                    </div>
                    <div class="input">
                        <label>City</label>
                        <input />
                    </div>
                    <div class="input">
                        <label>Postal Code</label>
                        <input />
                    </div>
                </form>

                <hr class="line" />

                <form class="form">
                    <div class="input">
                        <label>Merchant</label>
                        <input />
                    </div>
                    <div class="input">
                        <label>Security Option</label>
                        <div style="display: flex; align-items: center;">
                            <input type="radio" name="secure" />
                            <label style="margin-left: 5px">2D secure</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="secure" />
                            <label style="margin-left: 5px;">3D secure</label>
                        </div>
                    </div>
                    <div class="input">
                        <label>Select Bank</label>
                        <select>
                            <option>---Select Bank---</option>
                            <option>Bank A</option>
                            <option>Bank B</option>
                        </select>
                    </div>
                    <div class="input">
                        <label>Card Number</label>
                        <input />
                    </div>
                    <div class="input">
                        <label>Card Expiration Month</label>
                        <input />
                    </div>
                    <div class="input">
                        <label>Card Expiration Year</label>
                        <input />
                    </div>
                    <div class="input">
                        <label>CVC</label>
                        <input />
                    </div>
                </form>

            </div>

            <hr class="line" />

            <div style="text-align: center; width: 100%;;">
                <button class="btn">Make Payment</button>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}
